<h2><%=@question.title%></h2>
<p>Hipster Approval Numerical: <%=vote_count(@question)%></p>
<p><%=@question.description%></p>
<form method="post" action="/questions/<%=@question.id%>">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" value="Delete"/>
</form>
<h4>Answers:</h4>
<form id="new_answer_button" action="/questions/<%= @question.id %>/answers/new">
  <input class="button" type="submit" value="New Answer" />
</form>

<form id="new_answer_form"action="/questions/<%=@question.id %>/answers" method="post">
  Answer: <input type='text' name="answer[description]" />
  <input class="button" type='submit' value='submit'>
</form>
<div id="answer_container">
  <%@answers.each do |answer|%>
    <p><%=answer.description%></p>
  <%end%>
</div>
